@import "reset.css";

/* 스타일 만드실때 만드는중인 아이디 꼭 먼저 적고 만들어주세요
#1-fixed ~~~~{ ...} */
#container {
  display: flex;
  flex-direction: column;
}

#fixed-2 {
  background-color: aqua;
}

#eum-ipsam-4 {
  background-color: rgb(243, 245, 250);
  padding: 60px 0px;
  display: flex;
  justify-content: center;
}

#eum-ipsam-4 .col1 {
  width: 55%;
  padding: 0 10px;
  justify-content: start;
}

#eum-ipsam-4 .content-4 {
  height: 40%;
  padding: 60px 100px 0px;
}

#eum-ipsam-4 .content-4 h3 {
  margin: 0 0 8px;
  line-height: 40.8px;
  font-weight: 400;
  font-size: 34px;
  color: #37517e;
  font-family: Jost, sans-serif;
}

#eum-ipsam-4 .strong-4 {
  font-weight: 800;
}

#eum-ipsam-4 .content-4 p {
  margin: 0 0 20px;
  line-height: 22.5px;
  font-size: 15px;
  color: #848484;
}

#eum-ipsam-4 .accordion-list-4 {
  height: 60%;
  padding: 0 100px 60px;
}

#eum-ipsam-4 .accordion-list-4 ul {
  width: 95%;
  height: 220px;
  list-style: none;
  margin: 0 0 16px;
}

#eum-ipsam-4 .accordion-list-4 li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  text-align: justify;
  display: flex;
}

#eum-ipsam-4 .accordion-list-4 li:nth-child(2),
#eum-ipsam-4 .accordion-list-4 li:last-child {
  margin-top: 15px;
}

#eum-ipsam-4 .accordion-list-4 a {
  color: #343a40;
  width: 472px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  outline: none;
  flex-wrap: wrap;
}

#eum-ipsam-4 .accordion-list-4 a:hover {
  color: #47b2e4;
}

#eum-ipsam-4 .accordion-list-4 a:hover .origin-button {
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#eum-ipsam-4 .accordion-list-4 a:hover .fa-angle-up,
#eum-ipsam-4 .accordion-list-4 a:hover .fa-angle-down {
  color: #47b2e4;
}

#eum-ipsam-4 .accordion-list-4 .num-4 {
  width: 30px;
  height: 24px;
  color: #47b2e4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
  align-items: flex-start;
}

#eum-ipsam-4 .accordion-list-4 .origin-button {
  align-items: flex-end;
  width: 30px;
  height: 20px;
}

#eum-ipsam-4 .accordion-list-4 .dropdown-4 {
  z-index: 100;
}

#eum-ipsam-4 .accordion-list-4 .dropdown-content-4 {
  display: none;
  padding: 10px 0;
  font-size: 16px;
  background: #fff;
  border-radius: 4px;
  z-index: 1;
}

#eum-ipsam-4 .accordion-list-4 a:hover .dropdown-content-4 {
  display: inline-block;
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#eum-ipsam-4 .col2 {
  width: 40%;
  padding: 0 12px;
  justify-content: end;
}

#eum-ipsam-4 img {
  width: 100%;
  height: 85%;
  padding: 50px 0 12px;
  justify-content: center;
  align-items: center;
}

#frequently-11 {
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  background-color: #f3f5fa;
  font-family: "Open Sans", sans-serif;
  color: #444;
}

#frequently-11 .container-11 {
  padding: 0 12px;
  margin: 0 5%;
}

#frequently-11 .title-11 {
  text-align: center;
  padding-bottom: 30px;
}

#frequently-11 .title-11 h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: bold;
  vertical-align: baseline;
}

#frequently-11 .title-11 .line1-11 {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

#frequently-11 .title-11 .line2-11 {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

#frequently-11 .title-11 p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-size-adjust: 100%;
  color: #37517e;
}

#frequently-11 .faqlist-11 {
  padding: 0 100px;
}

#frequently-11 .faqlist-11 ul {
  margin-bottom: 1rem;
}

#frequently-11 .faqlist-11 li {
  margin-top: 15px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

#frequently-11 .faqlist-11 a {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration-color: rgb(55, 81, 126);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
}

#frequently-11 .faqlist-11 a:hover {
  color: #47b2e4;
}

#frequently-11 .faqlist-11 a:hover .origin-button {
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#frequently-11 .faqlist-11 a:hover .fa-angle-up,
#frequently-11 .faqlist-11 a:hover .fa-angle-up {
  color: #47b2e4;
}

#frequently-11 .faqlist-11 a:hover .dropdown-content-11 {
  display: inline-block;
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#frequently-11 .faqlist-11 .dropdown-11 {
  z-index: 100;
}

#frequently-11 .faqlist-11 .dropdown-content-11 {
  display: none;
  z-index: 1;
}

#frequently-11 .faqlist-11 .helpicon-11 {
  background: url("./helpicon.png") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
}
#frequently-11 .faqlist-11 .dropdown-11 p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Open Sans", sans-serif;
  color: #444;
  font-size: 16px;
}
