@import "reset.css";

/* 스타일 만드실때 만드는중인 아이디 꼭 먼저 적고 만들어주세요
#1-fixed ~~~~{ ...} */

#container {
  display: flex;
  flex-direction: column;
}

#thrflexd {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: #3579cd;
  border-radius: 50%;
  fill: white;
}
#fixed-1 {
  z-index: 100;
}
#fixed-1 #oneflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 17px solid;
  border-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

#fixed-1 #oneflexin1 {
  display: flex;
  flex-direction: row;
}

#fixed-1 #img1 {
  height: 40px;
  margin-top: 5px;
}

#fixed-1 #text1 {
  font-size: 30px;
  font-weight: bold;
  color: hwb(228 18% 39%);
  vertical-align: 10px;
  margin-top: 10px;
}
#fixed-1 #text1 span {
  color: #3579cd;
}

#fixed-1 #ul1 {
  margin-left: 30px;
}

#fixed-1 #ul1 svg {
  margin-left: 20px;
  fill: #3579cd;
}

#fixed-1 #ul1 svg:hover {
  border-bottom: 2px solid;
  border-color: #3579cd;
}

#fixed-1 #ul2 {
  margin-top: 5px;
}

#fixed-1 #ul2 il {
  padding: 40px 10px 0 15px;
  margin-right: 0px;
  border-radius: 5%;
  border: 1px solid;
  border-color: gray;
}

#fixed-1 #text2 {
  background-color: #3579cd;
  font-size: 20px;
  font-weight: bold;
  color: white;
  vertical-align: 20px;
  margin-top: 10px;
}

#fixed-1 #ilback {
  background-color: #3579cd;
  color: white;
  fill: white;
}

#fixed-1 #twoflxed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: hwb(217 2% 64% / 0.792);
  padding: 25px 95px;
  position: fixed;
  top: 89px;
  left: 0;
  right: 0;
}

#fixed-1 #twoflxed #arsha {
  font-size: 40px;
  font-weight: bold;
  color: hwb(0 100% 0%);
}

#fixed-1 #twoflxed il {
  font-size: 22px;
  vertical-align: -15px;
  margin-right: 30px;
  color: hwb(0 100% 0%);
}
#fixed-1 #twoflxed #getstar {
  padding: 10px 25px;
  border-radius: 50px;
  border: 4px solid;
  border-color: #00c8ff;
}

#fixed-1 #twoflxed #getstar:hover {
  color: white;
  background-color: #00c8ff;
}
#fixed-1 #twoflxed #drop ul {
  margin: 20px 10px 10px 480px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  border-radius: 5%;
  border: 4px;
}

#fixed-1 #twoflxed #drop ul il {
  color: #3579cd;
  margin: 20px 30px;
}

#fixed-1 #twoflxed #drop:hover > ul {
  visibility: visible;
}

#fixed-1 #twoflxed il:hover {
  color: #00c8ff;
}

#services-6 #fullflex {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

#services-6 #flexone {
  display: flex;
  flex-direction: row;
}

#services-6 #flexone div {
  display: flex;
  flex-direction: column;
}

#services-6 #toptext {
  font-size: 45px;
  font-weight: bold;
  color: hwb(228 18% 39%);
  text-align: center;
}

#services-6 #toptext hr {
  width: 6%;
  border-top: 5px solid #3579cd;
}

#services-6 #topmain {
  margin: 10px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
}

#services-6 #flexone {
  margin: 50px;
  background-color: white;
}
#services-6 #flexone .maindiv {
  fill: #3579cd;
  padding: 60px;
}

#services-6 #span11,
#services-6 #span21,
#services-6 #span31,
#services-6 #span41 {
  font-size: 29px;
  font-weight: bold;
  color: hwb(228 18% 39%);
  margin: 20px 0px;
}

#services-6 #span12,
#services-6 #span22,
#services-6 #span32,
#services-6 #span42 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
  margin: 20px 0px;
}

#services-6 {
  background-color: #f3f5fa;
}

#services-6 .gap {
  background-color: #f3f5fa;
  padding: 20px;
}

#services-6 #flexone .maindiv:hover #span11,
#services-6 #flexone .maindiv:hover #span21,
#services-6 #flexone .maindiv:hover #span31,
#services-6 #flexone .maindiv:hover #span41 {
  color: #00c8ff;
}

#services-6 #flexone .maindiv:hover {
  position: relative;
  bottom: 15px;
}

#call-to-7 {
  background-image: url(./im2.png);
  padding: 170px 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(42, 42, 42);
}
#call-to-7 #flextop {
  display: flex;
  flex-direction: row;
}

#call-to-7 #flexone {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#call-to-7 #toptext {
  font-size: 35px;
  font-weight: bold;
  color: white;
}
#call-to-7 #maintext {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
  margin: 20px 0px;
  color: white;
}

#call-to-7 #roundtext {
  color: white;
  width: 20%;
  margin: 35px 30px;
  border-radius: 50px;
  border: 4px solid;
  border-color: white;
  font-size: 25px;
  text-align: center;
  line-height: 65px;
}

#call-to-7 #roundtext:hover {
  border-color: #00c8ff;
  background-color: #00c8ff;
}

/* better-solutions-2 ****************************/

#better-solutions-2 {
  margin-top: 179px;
  flex-grow: 1;
  flex-shrink: 1;
}
#better-solutions-2 #main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  width: 100%;
  height: 55vh;
  background-color: #37517e;
}

#better-solutions-2 #main-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 10%;
  left: 5%;
  text-align: left;
  max-height: 50vh;
  max-width: 100vh;
  padding: 30px 12px 0 40px;
  flex-shrink: 1;
  flex-grow: 1;
  margin: 5px;
}

#better-solutions-2 #main-left h1 {
  margin: 0 0 10px 0;
  line-height: 60px;
  /* letter-spacing: 1px; */
  word-spacing: 2px;
  font-weight: bolder;
  font-size: calc(1.3rem + 1.6vw);
  font-family: "Jost", sans-serif;
  color: #fff;
  margin-bottom: 20px;
  flex-shrink: 1;
}
#better-solutions-2 #main-left h2 {
  font-size: calc(0.6rem + 0.8vw);
  font-weight: bold;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Jost", sans-serif;
  margin-top: 0;
  margin-bottom: 50px;
}

#better-solutions-2 #main-left #butns {
  display: flex;
  gap: 3em;
  justify-content: flex-start;
  align-items: center;
}

#better-solutions-2 #main-left button {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 15px 32px 17px 32px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #47b2e4;
}
#better-solutions-2 #main-left button:hover {
  background: #3b94bd;
}

#better-solutions-2 #main-left #watch {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100px;
}

#better-solutions-2 #main-left img {
  color: white;
  width: 50px;
  height: 50px;
}
#better-solutions-2 #main-left img:hover {
  background: #e6edf0;
  border-radius: 60px;
}

#better-solutions-2 #main-left span {
  font-size: 18px;
  color: #fff;
  line-height: 1;
  padding-left: 10px;
  width: 100px;
}
#better-solutions-2 #main-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
  max-height: 1000px;
  flex-shrink: 1;
  flex-grow: 1;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

#better-solutions-2 #main-right img {
  width: 75%;
  height: 75%;
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
  /* max-width: 95%; */
}

#better-solutions-2 #banner {
  display: flex;
  min-height: 110px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 12px 0;
  background-color: #f3f5fa;
}

#better-solutions-2 #banner ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

#better-solutions-2 #banner li {
  width: fit-content;
  display: flex;
  justify-content: center;
}
#better-solutions-2 #banner img {
  width: 35%;
  height: 35%;
  filter: grayscale(100);
}

#better-solutions-2 #banner li :hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
  filter: none;
  -webkit-filter: grayscale(0%);
  display: block;
}

/* better-solutions-2 ***************************************************/

#voluptatem-5 .main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
#voluptatem-5 .text {
  width: 40%;
}
#voluptatem-5 .pic {
  width: 600px;
  height: 530x;
  margin-right: 3%;
}

#voluptatem-5 {
  align-items: center;
}
#voluptatem-5 .bold {
  color: #37517e;
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
#voluptatem-5 .sub {
  color: #444444;
  font-style: italic;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
#voluptatem-5 .graph_text {
  color: #37517e;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  font-family: "Poppins", sans-serif;
}
#voluptatem-5 .gr {
  margin-bottom: 35px;
}

#voluptatem-5 .pg {
  height: 12px;
  background-color: #e8edf5;
  border: 0;
  width: 100%;
}

::-webkit-progress-value {
  background-color: #4668a2;
}
::-webkit-progress-bar {
  background-color: #e8edf5;
}

/* 3번 */

#about-us-3 .blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#about-us-3 {
  width: 1520px;
  height: 400;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-us-3 #aboutus {
  width: 1300px;
  height: 108.4px;

  right: 100px;
  padding: 0px 0px 30px;
  margin: 0 auto;

  font-family: "Jost", sans-serif;
  font-size: 32px;
  color: #37517e;

  text-align: center;
}

#about-us-3 #aboutus-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 1320px;
}

#about-us-3 #lorem1 {
  width: 660px;
  height: 172px;
  padding: 0px 12px;
  line-height: 150%;
}

#about-us-3 #lorem1 span {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #444444;
  line-height: 165%;
}

#about-us-3 #lorem1 span p {
  margin: 0px 0px 16px;
}

#about-us-3 #ullamco1 {
  width: 660px;
  height: 172px;
  padding: 0px 12px;
  line-height: 165%;
}

#about-us-3 #ullamco1 span p {
  margin: 0px 0px 16px;
}

#about-us-3 #learnmore-button {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #47b2e4;
  width: 155px;
  height: 42px;
  border: 2px solid #47b2e4;
  border-radius: 4px;
  line-height: 1;
  margin: 6px 0px 0px;
  padding: 12px 32px;
}

#about-us-3 #learnmore-button:hover {
  background-color: #47b2e4;
  color: white;
}

#about-us-3 #ullamco1 span {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #444444;
}

/* 4번 */
#eum-ipsam-4 {
  background-color: rgb(243, 245, 250);
  padding: 60px 0px;
  display: flex;
  justify-content: center;
}

#eum-ipsam-4 .col1 {
  width: 57%;
  padding: 0 10px;
  justify-content: start;
}

#eum-ipsam-4 .content-4 {
  height: 40%;
  padding: 60px 80px 0px;
}

#eum-ipsam-4 .content-4 h3 {
  margin: 0 0 8px;
  line-height: 40.8px;
  font-weight: 400;
  font-size: 34px;
  color: #37517e;
  font-family: Jost, sans-serif;
}

#eum-ipsam-4 .strong-4 {
  font-weight: 800;
}

#eum-ipsam-4 .content-4 p {
  margin: 0 0 20px;
  line-height: 22.5px;
  font-size: 15px;
  color: #848484;
}

#eum-ipsam-4 .accordion-list-4 {
  height: 60%;
  padding: 0 80px 60px;
}

#eum-ipsam-4 .accordion-list-4 ul {
  width: 100%;
  height: 220px;
  list-style: none;
  margin: 0 0 16px;
}

#eum-ipsam-4 .accordion-list-4 li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  text-align: justify;
  display: flex;
}

#eum-ipsam-4 .accordion-list-4 li:nth-child(2),
#eum-ipsam-4 .accordion-list-4 li:last-child {
  margin-top: 15px;
}

#eum-ipsam-4 .accordion-list-4 a {
  color: #343a40;
  width: 472px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  flex-wrap: wrap;
}

#eum-ipsam-4 .accordion-list-4 a:hover {
  color: #47b2e4;
}

#eum-ipsam-4 .accordion-list-4 a:hover .origin-button {
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#eum-ipsam-4 .accordion-list-4 a:hover .fa-angle-up,
#eum-ipsam-4 .accordion-list-4 a:hover .fa-angle-down {
  color: #47b2e4;
}

#eum-ipsam-4 .accordion-list-4 .num-4 {
  width: 30px;
  height: 24px;
  color: #47b2e4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
  align-items: flex-start;
}

#eum-ipsam-4 .accordion-list-4 .origin-button {
  align-items: flex-end;
  width: 30px;
  height: 20px;
}

#eum-ipsam-4 .accordion-list-4 .dropdown-4 {
  z-index: 100;
}

#eum-ipsam-4 .accordion-list-4 .dropdown-content-4 {
  display: none;
  padding: 10px 0;
  font-size: 16px;
  background: #fff;
  border-radius: 4px;
  z-index: 1;
}

#eum-ipsam-4 .accordion-list-4 a:hover .dropdown-content-4 {
  display: inline-block;
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#eum-ipsam-4 .col2 {
  width: 40%;
  padding: 0 12px;
  justify-content: end;
}

#eum-ipsam-4 img {
  width: 100%;
  height: 85%;
  padding: 50px 0 12px;
  justify-content: center;
  align-items: center;
}

/* 10번  */

#pricing-10 {
  display: flex;
  flex-direction: column;
  margin: 80px;
}

#pricing-10 #flexone {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pricing-10 .flextwo {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
  border-radius: 10px;
  border: 1px solid rgb(94, 94, 94);
}

#pricing-10 #textal {
  text-align: center;
}
#pricing-10 #toptext {
  font-size: 45px;
  font-weight: bold;
  color: hwb(228 18% 39%);
  text-align: center;
  margin-bottom: 30px;
}

#pricing-10 #hr {
  width: 6%;
  border-top: 5px solid #3579cd;
}

#pricing-10 #maintext {
  margin: 40px 40px 100px 40px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 30px;
}

#pricing-10 #flexone ul {
  display: flex;
  flex-direction: column;
}

#pricing-10 .twomaintext {
  font-size: 23px;
  line-height: 50px;
  fill: green;
  color: grey;
}

#pricing-10 .getst {
  margin: 50px 0;
  color: #00c8ff;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 25px;
  border-radius: 50px;
  border: 2px solid;
  border-color: #00c8ff;
  width: 70%;
  text-align: center;
}

#pricing-10 .getst2 {
  background-color: #00c8ff;
  margin: 50px 0;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 25px;
  border-radius: 50px;
  border: 2px solid;

  border-color: #00c8ff;
  width: 70%;
  text-align: center;
}

#pricing-10 .getst:hover {
  background-color: #00c8ff;
  color: #ffffff;
}

#pricing-10 .getst2:hover {
  background-color: #0091b9;
  color: #ffffff;
  border-color: #0091b9;
}

#pricing-10 #borderch {
  border-top: 5px solid #00c8ff;
}

#pricing-10 .main1 {
  margin: 20px 0 40px 0;
  color: #37517e;
  font-size: 25px;
  font-weight: bold;
}

#pricing-10 .main2 {
  margin-bottom: 20px;
  font-size: 80px;
}

#pricing-10 .main2 svg {
  vertical-align: top;
  width: 10%;
}

#pricing-10 .main3 {
  color: #00c8ff;
  font-size: 22px;
  margin-bottom: 60px;
}

#pricing-10 .svggry {
  fill: gray;
  text-decoration: line-through;
}

/* 13번 */
#join-our-13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5fa;
  padding: 60px 40px 60px 40px;
}
#join-our-13 #toptext {
  font-size: 35px;
  font-weight: bold;
  color: hwb(228 18% 39%);
  text-align: center;
  margin-bottom: 30px;
}

#join-our-13 #topmain {
  margin: 0px 40px 40px 40px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 30px;
}

#join-our-13 #input1 {
  padding: 15px 200px;
  border-radius: 30px;
  border: 0px solid gray;
}

#join-our-13 #but {
  background-color: #00c8ff;
  color: #ffffff;
  font-size: 22px;
  padding: 8px 25px;
  border-radius: 50px;
  border: 2px solid;
  border-color: #00c8ff;
  margin-left: -60px;
  vertical-align: -3px;
}

/* 8번 */

#portfolio-8 .blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#portfolio-8 {
  width: 1300px;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#portfolio-8 #portfolio-title {
  width: 1300px;
  height: 60px;
  display: inline-block;
  right: 100px;
  padding: 0px 0px 20px;
  margin: 0 auto;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  color: #37517e;
  text-align: center;
}

#portfolio-8 #portfolio-title div {
  width: 1300px;
  height: 20;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
}

#portfolio-8 #portfolio-Magnam {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #444444;
  line-height: 165%;
  text-align: center;
  width: 1300px;
  height: 50px;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
}

#portfolio-8 #portfolio-menu {
  width: 1300px;
  padding: 100px 0px 0px 32px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#portfolio-8 #portfolio-menu li {
  list-style: none;
  text-align: center;
  display: inline-block;
}

#portfolio-8 #portfolio-menu li button {
  border: 0px white;
  background-color: white;
  color: #444444;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  margin: 10px 5px;
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
}

#portfolio-8 #portfolio-menu li button:hover {
  background-color: #47b2e4;
  color: white;
}

#portfolio-8 #portfolio-pictures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1300px;
  margin: 0 auto;
  width: 1290px;
  vertical-align: top;
  padding: 0px 0px 0px 0px;
}

#portfolio-8 #portfolio-pictures li {
  list-style: none;
}

#portfolio-8 #portfolio-pictures img {
  margin: 0 0 30px;
  padding: 0 12px;
}

/* 11번 */

#frequently-11 {
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  background-color: #f3f5fa;
  font-family: "Open Sans", sans-serif;
  color: #444;
}

#frequently-11 .container-11 {
  padding: 0 12px;
  margin: 0 5%;
}

#frequently-11 .title-11 {
  text-align: center;
  padding-bottom: 30px;
}

#frequently-11 .title-11 h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: bold;
  vertical-align: baseline;
}

#frequently-11 .title-11 .line1-11 {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

#frequently-11 .title-11 .line2-11 {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

#frequently-11 .title-11 p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-size-adjust: 100%;
  color: #37517e;
}

#frequently-11 .faqlist-11 {
  padding: 0 100px;
}

#frequently-11 .faqlist-11 ul {
  margin-bottom: 1rem;
}

#frequently-11 .faqlist-11 li {
  margin-top: 15px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

#frequently-11 .faqlist-11 a {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration-color: rgb(55, 81, 126);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
}

#frequently-11 .faqlist-11 a:hover {
  color: #47b2e4;
}

#frequently-11 .faqlist-11 a:hover .origin-button {
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#frequently-11 .faqlist-11 a:hover .fa-angle-up,
#frequently-11 .faqlist-11 a:hover .fa-angle-up {
  color: #47b2e4;
}

#frequently-11 .faqlist-11 a:hover .dropdown-content-11 {
  display: inline-block;
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#frequently-11 .faqlist-11 .dropdown-11 {
  z-index: 100;
}

#frequently-11 .faqlist-11 .dropdown-content-11 {
  display: none;
  z-index: 1;
}

#frequently-11 .faqlist-11 .helpicon-11 {
  background: url("./helpicon.png") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
}
#frequently-11 .faqlist-11 .dropdown-11 p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Open Sans", sans-serif;
  color: #444;
  font-size: 16px;
}

/* 12번 */
#contact-12 #main {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px;
  flex-wrap: wrap;
  height: 1050px;
  flex-shrink: 1;
  flex-grow: 1;
}

#contact-12 #main h1 {
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
  font-family: "Jost", sans-serif;
}
#contact-12 #main h2 {
  padding-top: 20px;
  font-size: 17px;
  font-weight: normal;
  flex-shrink: 1;
  flex-grow: 1;
  padding-bottom: 10px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  line-height: 25px;
}

#contact-12 #main img {
  width: 10%;
  height: 1%;
  flex-shrink: 1;
  flex-grow: 1;
}

#contact-12 #main #info12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-shrink: 1;
  flex-grow: 1;
  gap: 3em;
  height: 500px;
  padding: 30px;
  margin: 30px;
}

#contact-12 #info12 .temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  align-items: center;
  border-top: 2px solid #47b2e4;
  border-bottom: 2px solid #47b2e4;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
}

#contact-12 #info12 #location {
  width: 500px;
  height: 700px;
  padding-bottom: 30px;
}

#contact-12 #location #top-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  padding-left: 20px;
}

#contact-12 #location #Address,
#Email,
#Call {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
}
#contact-12 #Lcontent,
#Econtent,
#Ccontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  padding-left: 20px;
}

#contact-12 #location #icon1,
#icon2,
#icon3 {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 65px;
  height: 65px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  padding: 30px;
}

#contact-12 #location #icon1:hover,
#icon2:hover,
#icon3:hover {
  background: #4bafde;
}

#contact-12 #location h2 {
  font-size: 20px;
  font-weight: 600;
  color: #37517e;
}
#contact-12 #location h3 {
  font-size: 17px;
  color: #6182ba;
  padding-bottom: 20px;
}

#contact-12 #yourname h3 {
  font-size: 20px;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

#contact-12 #location img {
  width: 400px;
  height: 100px;
}

#contact-12 #info12 #yourname {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 750px;
  height: 700px;
  padding-top: 50px;
}

#contact-12 #yourname #name12 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 1;
  flex-grow: 1;
  width: 670px;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 2em;
}

#contact-12 #yourname #top-1,
#top-2 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#contact-12 #yourname input,
textarea {
  padding: 0.375rem 0.75rem;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Open Sans", sans-serif;
  /* transition-property: border;
  transition: color 0.15s ease-in-out; */
}

#contact-12 #yourname #top-1 input,
#top-2 input {
  width: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}

#contact-12 #yourname #middle-1 input,
#bottom-1 textarea {
  width: 650px;
  flex-grow: 1;
  flex-shrink: 1;
}

#contact-12 #yourname #input-middle,
#input-bottom {
  display: flex;
  width: 700px;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 40px;
  padding-left: 25px;
}

#contact-12 #yourname #input-bottom {
  height: 500px;
  padding-bottom: 20px;
  padding-left: 25px;
}

#contact-12 #yourname #middle-1,
#bottom-1 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#contact-12 #yourname button {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 15px 32px 17px 32px;
  border-radius: 30px;
  transition: 0.5s;
  color: #fff;
  background: #47b2e4;
}

#contact-12 #yourname button:hover {
  background: #3b94bd;
}
