/*선택자(selecter)*/

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

div#header-center {
    margin: 0 auto; 
    width: 1080px;  /*내 컴퓨터 픽셀은 1536, height는 864*/

} 

div#header-search > h1 {
    width: 280px;
    display: inline-block; /*기본적으로 div에 설정되어있던 display block을 풀어줌*/
} 



div#header-search > fieldset {
    width: 520px;
    display: inline-block;
}