/*선택자(selecter)*/

* { /*모든태그에 추가하는 의미 * 함수   */
    box-sizing: border-box;  
}


.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

div#header-center {
    margin: 0 auto; 
    width: 1080px;  /*내 컴퓨터 픽셀은 1536, height는 864*/

} 

div#header-search h1 {
    width: 234px;
    height: 54px;
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_57f073.png);
    background-position: 0 -161px;
    background-size: 471px 442px;
    background-repeat: no-repeat;
    vertical-align: middle;
    
    
} 


div#header-search h1 span {
        display: none;
        
}


div#header-search > fieldset {
    margin-left: 20px; 
    padding: 12px 0 12px 10px;  /* padding 위 아래 오른쪽 왼쪽*/
    border: 2px solid #03cf5d;     /*border 굵기 색(hex표기법) */
    width: 521px;
    height: 48px;
    display: inline-block;
}


div#header-search > fieldset input {
    border: none;
    padding: 0;
    outline: none;
    vertical-align: middle;
}  /*실제 검색창*/